<md-toolbar class="md-hue-2 md-whiteframe-2dp">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
            <md-icon class="material-icons">all_inclusive</md-icon>
        </md-button>
        <h2>
          <span>Arduino MFRC522</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon class="" style="color: greenyellow;"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
            <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
        </md-button>
    </div>
</md-toolbar>